<form method="post" action="{% url 'search' %}">
    {% csrf_token %}
    <label for="length">带宽:</label>
    <input type="text" name="length" id="length">
    <br>
    <label for="T_Force">Force:</label>
    <input type="text" name="T_Force" id="T_Force">
    <br>
    <label for="T_Torque">Torque:</label>
    <input type="text" id="T_Torque" name="T_Torque">
    <br>
	<label for="Dia_dr">Diameter:</label>
	<input type="text" id="Dia_dr" name="Dia_dr">
    <br>
    <input type="submit" value="Search">
</form>

