<!DOCTYPE html>
<html>
  <head>
    <title>DLM选型网页</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static 'css/base.css' %" />
  </head>
  <body>
    <header>
      <h1>DLM选型网页</h1>
    </header>
    <main>
      <form method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="length">带宽:</label>
          <select name="length" id="length"></select>
          <script>
            var options = [
              400, 500, 650, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400,
            ];
            var selectList = document.getElementById("length");
            for (var i = 0; i < options.length; i++) {
              var option = document.createElement("option");
              option.value = options[i];
              option.text = options[i] + "mm";
              selectList.add(option);
            }
          </script>
        </div>
        <div class="form-group">
          <label for="T_Force">合力:</label>
          <input type="text" name="T_Force" id="T_Force" />
        </div>
        <div class="form-group">
          <label for="T_Torque">扭矩:</label>
          <input type="text" id="T_Torque" name="T_Torque" />
        </div>
        <div class="form-group">
          <label for="Dia_dr">滚筒直径:</label>
          <select id="Dia_dr" name="Dia_dr"></select>
          <script>
            var options = [
              250, 315, 400, 500, 630, 800, 1000, 1250, 1400, 1600, 1800,
            ];
            var selectList = document.getElementById("Dia_dr");
            for (var i = 0; i < options.length; i++) {
              var option = document.createElement("option");
              option.value = options[i];
              option.text = options[i] + "mm";
              selectList.add(option);
            }
          </script>
        </div>
        <div class="form-group">
          <input type="submit" value="Search" />
        </div>
      </form>
    </main>
  </body>
</html>


