<!DOCTYPE html>
<html>
<head>
    <title>DLM选型网站</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>DLM选型网站</h1>
    <form method="post">
        {% csrf_token %}
        <label><input type="radio" name="app" value="app"> 驱动滚筒</label><br>
        <label><input type="radio" name="app" value="alter_pulley"> 改向滚筒</label><br>
        <label><input type = "radio" name = "app" value = "roller"> 托辊</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>





